body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-edit{
  display: flex;
  justify-content: space-between;

}

#flexSwitchCheckDefault{
  color: blue;
}

@media screen and (max-width:992px) {
  nav{
    display: flex !important;
    padding: 10px;
  }
  

}



